{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block title%}
    TITULO
{%endblock%}

{%block navbar %}
<h1>Navbar</h1>
{%endblock%}

{%block page_content%}   

    <div class="page-header">
        <h1>Ola {% if name %} {{ name }} {% else %} Estranho {% endif %}</h1>
    </div>
    {{ wtf.quick_form(form) }}

    <br>
    <section
    class=" d-flex justify-content-center 
            justify-content-lg-between p-4 border-bottom">

        <div class="text-center text-lg-start bg-light text-muted">
            <p>{{ moment(current_time).format('LLL') }}</p>
            <p>{{ moment(current_time).fromNow(refresh=True) }}</p>
        </div>
    </section>
   
{%endblock%}

